.footer {
  background: #050505;
  padding: 25px 20px;
  border-top: 1px solid rgba(0, 229, 255, 0.15);
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.footer p {
  font-size: 0.95rem;
  color: #cfd8dc;
}

.footer-sub {
  font-size: 0.85rem;
  color: #90a4ae;
  margin-top: 6px;
}
